<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>ua.nure.pi.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/cvsystem</url-pattern>
    <url-pattern>/cvsystem/</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>adminPanel</servlet-name>
    <servlet-class>ua.nure.pi.server.AdminPanelServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>adminPanel</servlet-name>
    <url-pattern>/adminPanel</url-pattern>
    <url-pattern>/adminPanel/</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>main</servlet-name>
    <servlet-class>ua.nure.pi.server.MainServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/main</url-pattern>
    <url-pattern>/main/</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>main</welcome-file>
  </welcome-file-list>

  <filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>ua.nure.pi.filter.EncodingFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>SecurityFilter</filter-name>
		<filter-class>ua.nure.pi.filter.SecurityFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>

	<context-param>
		<param-name>securityXML</param-name>
		<param-value>/security.xml</param-value>
	</context-param>

	<listener>
		<listener-class>ua.nure.pi.listener.ContextListener</listener-class>
	</listener>

	<!-- <error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/pages/server_error_page.html</location>
	</error-page>

	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/pages/access_error_page.html</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/pages/page_not_found.html</location>
	</error-page>-->
</web-app>
