.adminPanel{
	position: fixed;
	width: 98%;
	background-color: rgba(157, 95, 95, 0.43);
	height: 30px;
	top: 0px;
	margin-left: 1%;
	border-radius: 0px 0px 10px 10px;
	z-index: 1000000;
	padding-left: 5px;
}

#login{
	position: absolute;
	bottom: 0px;
	right: 10px;
}

.forAdminFix{
	margin-top:30px;
}

.triangle{
	border-color: transparent;
	border-style: dashed dashed solid;
	border-width: 0 8.5px 8.5px;
	position: absolute;
	right: 5px;
	top: -8.5px;
	z-index: 1;
	height: 0;
	width: 0;
	border-bottom-color: #ccc;
	border-bottom-color: rgba(0,0,0,.2);
}

.triangle1{
	border-color: transparent;
	border-bottom-color: #fff;
	border-style: dashed dashed solid;
	border-width: 0 8.5px 8.5px;
	position: absolute;
	right: 5px;
	top: -8.5px;
	z-index: 1;
	height: 0;
	width: 0;
}

.profilePanel{
	background-color: white;
	width: 300px;
	height: 50px;
	/* text-align: center;
	vertical-align: middle; */
	position: absolute;
	bottom: -75px;
	right: 0px;
	z-index: 10000000;
	border: 1px solid #ccc;
	box-shadow: 5px 5px 5px grey;
	border-radius: 5px;
	cursor: default;
}

div#login>div{
	overflow: visible !important;
	cursor: pointer;
}