.adminPanel{
	position: fixed;
	width: 98%;
	background-color: rgba(157, 95, 95, 0.43);
	height: 30px;
	top: 0px;
	margin-left: 1%;
	border-radius: 0px 0px 10px 10px;
	z-index: 1000000;
}

#login{
	position: absolute;
	bottom: 0px;
	right: 10px;
}