
html>body {
    font-family: 'Times New Roman';
    font-size: 16px;
    margin: 0;
    min-width: 900px;
}

#wrapper {
	width: 900px !important;
	margin: 0 auto;
	border-top:  10px solid rgba(255,255,255,0);
}
ul, li {
    color: #000000;
}

a {
    color: #0052A3;
}

.fixUpPanel{
	height:50px !important;
}

.fixForm{
	height:105px !important;
}
.fixRadio{
	width: 150px !important;
}
.fixTextArea>textarea{
	resize:none;
	width: 344px !important;
}
.fixTextArea{
	padding-left: 0px;
}
a:hover {
    color: #1A8DFF;
}
p {
    margin: 0 0 0.5em;
}
h1 {
    color: #666666;
    font: bold 22px/1.3 "Helvetica Neue",Helvetica,sans-serif;
}
h2 {
    color: #666666;
    font: bold 18px/2em "Helvetica Neue",Helvetica,sans-serif;
}
h3 {
    color: #666666;
    font: bold 16px/1em "Helvetica Neue",Helvetica,sans-serif;
}



#header {
    height: 115px;
    position: relative;
    width: auto;
    
}
#logo {
	background: url("/img/header.png");
	color: #0fa3e7;
    height: 115px;
    position: relative;
    width: 100%;
    overflow: hidden;
}
#social {
    height: 30px;
    
    position: absolute;
    left: 120px;
    top: -10px;
}
#country {

    height: 40px;
    position: absolute;
    right: 70px;
    top: 30px;
}
#menu {
	font-size: 0px;
    height: 30px;
    overflow: hidden;
}
#menu-right{}

.menu-left
{
	background: transparent;
}

#menu-left ul {
    list-style: none outside none;
    margin-left: 15px;
}
#menu-right ul {
    list-style: none outside none;
    margin-right: 40px;
}

#menu-left li {
    float: left;
    padding: 2px 5px 5px 9px;
}
#menu-right li {
    float: right;
    padding: 2px 5px 5px 9px;
}
#menu-left li:first-child {
    padding: 2px 5px 5px 0;
}

#menu-right li:first-child {
    padding: 2px 5px 5px 0;
}
#menu-left li a {
    color: rgba(76,114,191,0.72);
    font: 16px PT Serif,sans-serif;
    text-decoration: none;
    text-shadow: 0 0 1px #706E63;
}

#menu-right li a {
    color: rgba(76,114,191,0.72);
    font: 16px PT Serif,sans-serif;
    text-decoration: none;
    text-shadow: 0 0 1px #706E63;
}
#menu-left li a:hover {
    color: #F32D13;
    text-decoration: none;
    text-shadow: 0 0 1px #F32D13;
}
#menu-right li a:hover {
    color: #F32D13;
    text-decoration: none;
    text-shadow: 0 0 1px #F32D13;
}

.alignright {
    float: right;
    padding: 5px 0 5px 15px;
}
.alignleft {
    float: left;
    padding: 5px 15px 5px 0;
}
.aligncenter {
    display: block;
    margin: 0 auto;
}

h3.assistive-text {
    color: #0052A3;
    font-size: 24.5px;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 40px;
    margin: 0;
    opacity: 0.7;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
}



/* Middle
-----------------------------------------------------------------------------*/
.middle {
	border-left: 10px solid rgba(255,255,255,0);
	border-top: 10px solid rgba(255,255,255,0);
	margin-top: 5 px;
	position: relative;
	border: 2px solid #ffffff;
	background-color: #ffffff;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	padding-right: 270px;
	padding-left: 10px;
	padding-top: 10px;
}


/* Right Sidebar
-----------------------------------------------------------------------------*/
#right-sidebar {
	margin-top: 50px;
	float: left;
	width: 250 px;
	margin-left: -250px;
	position: relative;
	text-align: center;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	height: 100px;
	border-top: 1px solid rgba(251,176,13,0.98);
}
.buttons {

    color: rgba(76,114,191,0.72);
    font: 16px PT Serif,sans-serif;
    text-decoration: none;
    text-shadow: 0 0 1px #706E63;
	position: relative;
	background-color: transparent;
	border: 0;
}
.addCV {

    color: #4855EF;
    font: 16px PT Serif,sans-serif;
    text-decoration: none;
    text-shadow: 0 0 1px #706E63;
	position: relative;
	background-color: rgba(76,114,192,0.30);
}

/* Registration
----------------------------------------------------------------------------*/
.invalid {
	background-color : Pink;
	border-width : 2px;
}

.valid {
	background-color : white;
	border-width : 1px;
}

.dateBoxPopup{
	z-index:1000001;	
}
.buttons:hover {
    color: #F32D13;
    text-decoration: none;
    text-shadow: 0 0 1px #F32D13;
    cursor: hand;
}



.Fiix{
	width: 100%;
}

.stylePanel1{
	background-color:rgba(75, 132, 204, 0.5);
	margin:5px;
	text-align:center;
	position: relative;
}

.stylePanel1 .imgDelStyle,
.stylePanel2 .imgDelStyle{
	display:none;
}

.stylePanel1:hover .imgDelStyle,
.stylePanel2:hover .imgDelStyle{
	display:block;
}

.stylePanel2{
	background-color:rgba(143, 204, 245, 0.5);
	margin:5px;
	text-align:center;
	position: relative;
}

.imgDelStyle{
	position:absolute;
	top:0px;
	right:0px;
	cursor:pointer;
}

.panel-startAddButton{
	width:343px;
	float:left;
}

.panel-newAddButton{
	position: absolute;
	bottom: 5px;
	left: 318px;
	background: url('/img/addButton.png') no-repeat !important;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	background-size: cover !important;
	z-index: 1000000;
}

.dateChooserBorder{
	left:550px !important;
}

.hint>div{
	margin-bottom:20px;
	font-style: italic;
}
.hint>input,
.hint>table{
	margin-bottom:20px;
}
