.fixUpPanel{
	height:50px !important;
}

.fixForm{
	height:105px !important;
}
.fixRadio{
	width: 150px !important;
}
.fixTextArea>textarea,
.fixTextAreaFocused>textarea{
	resize:none;
	width: 344px !important;
}
.fixTextArea,
.fixTextAreaFocused{
	padding-left: 0px;
}

.Fiix{
	width: 100%;
}

.fixFormFox>div>div {
	width: auto !important;
	height: auto !important;
}

.fixMultiComboBox{
	padding-left:5px;
}